<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
</head>
<body>
    <nav class="bg-cyan-400 space-x-4 shadow md:flex md:items-center md:justify-between">
        <div>
            <span class="p-5 text-2xl fotn-[Poppins] cursor-pointer">
                Password Generator
            </span>
        </div class="flex justify-between items-center ">
        <ul class="md:flex md:items-center z-[-1] md:z-auto md:static absolute w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500">
            <li class="mx-4 my-6 md:my-0">
              <a href="#" class="font-bold text-slate-700 rounded-lg hover:text-slate-100">Home</a>
            </li>
            <li class="mx-4 my-6 md:my-0">
              <a href="#" class="font-bold text-slate-700 rounded-lg hover:text-slate-100">Your Passwords</a>
            </li>
            <li class="mx-4 my-6 md:my-0">
              <a href="#" class="font-bold text-slate-700 rounded-lg hover:text-slate-100">Get New Password</a>
            </li>
      
            <button class="duration-500 px-6 py-2 mx-4 hover:bg-cyan-500 rounded ">
              Get started
            </button>
        </ul>
    </nav>
    {% for post in posts %}
        <h1>{{ post.for }}</h1>
        <p>{{ post.password }}</p>
    {% endfor %}
</body>
</html>